---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  
  return posts.map(post => ({
    params: { 
      slug: post.id 
    },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
  <article class="container">
    <h1>{post.data.title}</h1>
    <p class="tagline">{post.data.tagline}</p>
    <time>{post.data.publishDate.toLocaleDateString('en-GB')}</time>
    
    <div class="tags" >
      {post.data.tags.map(tag => (
        <a class="tag" href={`/${post.data.category}?tag=${tag}`}>{tag}</a>
      ))}
    </div>
    <div class="content">
      <Content />
    </div>
  </article>
</BaseLayout>