---
interface Props {
  title: string;
  description: string;
  publishDate: Date;
  tags: string[];
  id: string;
  category: 'projects' | 'articles' | 'write-ups';
}

const { title, description, publishDate, tags, id, category} = Astro.props;

const formattedDate = publishDate.toLocaleDateString('en-GB', {
  year: 'numeric',
  month: 'short',
  day: 'numeric'
});
---
<div class="container">
  <div class="card">
    <a href={`${id}`}>
        <h2>{title}</h2>
        <p class="h3">{description}</p>
        <p class="date">{formattedDate}</p>
        <div>
        {tags.map(tag => (
            <a class="tag" href={`/${category}?tag=${tag}`}>
              {tag}
            </a>
        ))}
        </div>
    </a>
</div>
</div>
